# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
**/.venv/
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml
**/.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# caches
.pytest_cache/
.mypy_cache/

# logs
*.log

